<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
    <!-- footer block -->
    <footer class="w3l-footer-29-main">
        <div class="footer-29 pt-5 pb-4">
            <div class="container pt-md-4">
                <div class="row footer-top-29">
<!--                    <div class="col-lg-2 col-md-6 footer-list-29"></div>-->
                    <div class="col-lg-4 col-md-4 footer-list-29">
                        <h6 class="footer-title-29">Contact Info </h6>
                        <p class="mb-2 pe-xl-5">Address : Jove Ilića 154, Beograd 11000.</p>
                        <p class="mb-2">Phone Number : <a href="tel:+381 11 3950 800">+381 11 3950 800</a></p>
                    </div>
                    <div class="col-lg-4 col-md-4 footer-list-29 " >
                        <ul>
                            <h6 class="footer-title-29">Quick Links</h6>
                            <li><a th:href="@{/home}">Dashboard</a></li>
                            <li><a th:href="@{/classRooms}">ClassRooms</a></li>
                            <li><a th:href="@{/reservations}">Reservations</a></li>
                            <li><a th:href="@{/users}">Users</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-3 col-4 mt-1" >
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2832.3730292186438!2d20.4753475!3d44.7731999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a70576248bf79%3A0xadaf5cff042d3bd0!2sFaculty%20of%20Organizational%20Sciences!5e0!3m2!1sen!2srs!4v1658571902289!5m2!1sen!2srs"
                                width="350" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <!-- copyright -->
                <p class="copy-footer-29 text-center pt-lg-2 mt-5 pb-2">
                    © 2022 FON Booking ClassRoom System. All rights reserved. Design by Aleksandar Janković using <a href="https://w3layouts.com/" target="_blank">W3Layouts</a>
                </p>
                <!-- //copyright -->
            </div>
        </div>
    </footer>
    <!-- //footer block -->
</body>

</html>