<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FON ClassRoom Booking System</title>
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/css/style-starter.css">

    <link rel="stylesheet" href="/calendar/dist/event-calendar.css" />
    <link
            rel="stylesheet"
            href="https://cdn.dhtmlx.com/fonts/wxi/wx-icons.css"
    />
    <script src="/calendar/dist/event-calendar.js"></script>

    <!-- Demo data -->
    <script src="calendar/assets/common/data.js"></script>
    <link rel="stylesheet" href="/calendar/assets/demos.css" />
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/2.0.0-alpha0/date_fns.min.js"
            integrity="sha512-0kon+2zxkK5yhflwFqaTaIhLVDKGVH0YH/jm8P8Bab/4EOgC/n7gWyy7WE4EXrfPOVDeNdaebiAng0nsfeFd9A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    ></script>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css"
    />
</head>
<body>

<!-- header -->
<div th:replace="header :: header">...</div>
<!-- //header -->

<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-1">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Make Reservation</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a th:href="@{/home}">Home</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>Make Reservation</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->
<!--    <p th:text="${create}"></p>-->
<!-- ClassRooms block -->
<section class="w3l-contact py-5" id="contact">
    <div class="container py-md-5 py-4">
        <div class="row contact-block">
            <div class="col-md-8 login-center">
                <ul>
                    <li class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(successMessage)}"
                        th:text="${successMessage}" />
                    <li class="alert alert-danger" role="alert" th:if="${!#strings.isEmpty(errorMessage)}"
                        th:text="${errorMessage}" />
                </ul>

                <form th:action="@{/makeReservation}" method="POST" th:object="${reservation}" class="signin-form">
                    <div class="input-grids">
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Meeting Name</p>
                                <input type="text" th:field="*{dsc}" id="dsc" placeholder="Meeting Name" required="true" class="contact-input" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Class Room</p>
                                <select class="form-select" id="classRoom"
                                        th:if="${classRooms != null}" th:field="*{classRoom}">
                                    <option th:each="classRoom: ${classRooms}" th:value="${classRoom.id}" th:text="${classRoom.dsc}"></option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <p>Reservation Type</p>
                                <select class="form-select" id="classRoomType"
                                        th:if="${reservationTypes != null}" th:field="*{reservationType}">
                                    <option th:each="reservationType: ${reservationTypes}" th:value="${reservationType.id}" th:text="${reservationType.dsc}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="beginningAsked">Beginning:</label>
                                <input type="datetime-local" id="beginningAsked"
                                       th:field="*{beginningAsked}" required
                                       min="2022-01-01" max="2023-12-31"/>
                            </div>
                            <div class="col-sm-6">
                                <label for="endAsked">End:</label>
                                <input type="datetime-local" id="endAsked"
                                       th:field="*{endAsked}" required
                                       min="2022-01-01" max="2023-12-31"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>For User</p>
                                <select class="form-select" id="reservationForUser"
                                        th:if="${users != null}" th:field="*{reservationForUser}">
                                    <option th:each="reservationForUser: ${users}" th:value="${reservationForUser.userName}"
                                            th:text="${reservationForUser.userName}+' - '+${reservationForUser.firstName}+' '+${reservationForUser.lastName}"></option>
                                </select>
                            </div>
                        </div>
<!--                        <td th:field="*{reservationForUser.userName}" th:value="${reservationForUser}"></td>-->
                    </div>
                    <br>
                    <div class="col-md-2 center text-start">
<!--                        <a th:href="@{/makeReservation}">-->
                            <button type="submit" class="btn btn-style btn-style-3 text-left">Submit</button>
<!--                        </a>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- //Reservation block -->

<!-- footer block -->
<div th:replace="footer :: footer">...</div>
<!-- //footer block -->

<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- theme switch js (light and dark)-->
<script src="/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!-- MENU-JS -->
<script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
<!-- //disable body scroll which navbar is in active -->

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- //bootstrap -->
<!-- //Js scripts -->
</body>

</html>